form {
  background-color: #fff;
  border: 5px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1em;
  width: 40%;
}

input,
label,
button {
  margin: 0.2em;
}

label {
  font-size: 1.25em;
}

input {
  font-size: 1em;
  height: 1.25em;
  padding: 0.25em;
}

button {
  background-color: gray;
  color: #fff;
}
